@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: gray;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.content {
  align-self: center;
}

.left-links, .right-links {
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px;
}

.buttons {
  text-align: center;
  margin: 10px;
}

.input {
  text-align: center;
}

.footer {
  background-color: #eeeeee;
}
