/* Add CSS Styling */
.odd {
  background-color: lightpink;
  font-family: Verdana, "DejaVu Sans", "sans-serif";
}

#blue {
  color: blue;
  font-size: 36px;
}

.big {
  font-size: 24px;
}

#green {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}