/* Add CSS Styling */
.dark {
  color: white;
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.dark,.yellow {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}